body {
    font-family: Arial, sans-serif;
}

.main {
    padding-bottom: 60px;
}

.dropdown-menu {
    background-color: #46598f !important;
}

.navbar {
    justify-content: flex-start !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.text-size {
    font-size: larger;
    font-weight: bold;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1rem;
    }
    .form-label {
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.9rem;
    }
}

@media (min-width: 769px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
    .form-label {
        font-size: 1rem;
    }
    .btn {
        font-size: 1rem;
    }
}
/* Ensure the container takes the width of its parent */
.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.scroll-container-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
}
.card {
    flex: 0 0 auto;
    margin-right: 16px;
    width: 200px;
    height: 300px; /* Set fixed height */
    scroll-snap-align: start;
    perspective: 1000px; /* Add perspective for 3D effect */
    position: relative;
    cursor: pointer; /* Indicate that it's clickable */
}
.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}
.card.flip .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.card-front {
    background-color: #fff;
    z-index: 1;
}
.card-back {
    background-color: #f8f9fa;
    transform: rotateY(180deg);
    overflow: auto; /* Enable scrolling */
    padding: 10px;
    box-sizing: border-box;
}
.card-img-top {
    width: 100%;
    height: auto;
    max-height: 200px; /* Adjust as needed */
    object-fit: contain;
}
.card-title {
    font-size: 16px;
    margin: 10px 0 5px;
    text-align: center;
}
.card-text {
    font-size: 14px;
    margin: 0;
    text-align: center;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    z-index: 10;
}
.arrow-left {
    left: 10px;
}
.arrow-right {
    right: 10px;
}